* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/background.jpg");
    padding: 0px;
    margin: 0px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: auto;
    padding: 0;
}



