

.wrapper {
    display: table;
    width: 400px;
    height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius:  20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.wrapper .formbox {
    width: 100%;
    padding: 40px;
}



.formbox h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffd87b;
    margin: 30px 0;
}

.inputbox label {
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: #ffd87b;
    font-weight: 500;
    pointer-events: none;
    
}



.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFF;
    font-weight: 600;
    padding: 6px 35px 0 5px;
}

.inputbox .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffd87b;
    line-height: 50px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #ffd87b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 100px;
}

.loginregister {
    font-size: .9em;
    color: #ffd87b;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginregister p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.loginregister p a:hover{
    text-decoration: underline;
}

.rememberForgot{
    font-size: .9em;
    color: #ffd87b;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberForgot label input {
    accent-color: #ffd87b;
    margin-right: 5px;
}

textarea {
    position: relative;
    margin: 55px 0;
    
}

.descri {
    position: absolute;
    top: 25px;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: #ffd87b;
    font-weight: 500;
    pointer-events: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modalcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.modaltext {
    margin-bottom: 20px;
    text-align: center;
}
.modalbuttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modalbuttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.modalbuttons button.yes {
    background-color: #d43f3a;
}
.modalbuttons button.yes:hover {
    background-color: #c9302c;
}
.modalbuttons button.no {
    background-color: #337ab7;
}
.modalbuttons button.no:hover {
    background-color: #286090;
}