.wrapper {
    display: table;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.wrapper .formbox {
    width: 100%;
    padding: 40px;
}



.formbox h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffd87b;
    margin: 30px 0;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: #ffd87b;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputbox .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffd87b;
    line-height: 50px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #ffd87b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.loginregister {
    font-size: .9em;
    color: #ffd87b;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.loginregister p span {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.loginregister p span:hover {
    text-decoration: underline;
}

.rememberForgot{
    font-size: .9em;
    color: #ffd87b;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberForgot label input {
    accent-color: #ffd87b;
    margin-right: 5px;
}